## Base16 Ayu Mirage
# Author: Khue Nguyen <Z5483Y@gmail.com>
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #171B24
set $base01 #1F2430
set $base02 #242936
set $base03 #707A8C
set $base04 #8A9199
set $base05 #CCCAC2
set $base06 #D9D7CE
set $base07 #F3F4F5
set $base08 #F28779
set $base09 #FFAD66
set $base0A #FFD173
set $base0B #D5FF80
set $base0C #95E6CB
set $base0D #5CCFE6
set $base0E #D4BFFF
set $base0F #F29E74

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
