## Base16 Ayu Light
# Author: Khue Nguyen <Z5483Y@gmail.com>
#
# You can use these variables anywhere in the mako configuration file.

background-color=#FAFAFA
text-color=#5C6773
border-color=#36A3D9

[urgency=low]
background-color=#FAFAFA
text-color=#F2AE49
border-color=#36A3D9

[urgency=high]
background-color=#FAFAFA
text-color=#F07178
border-color=#36A3D9
