.base00 { color: #FAFAFA; }
.base01 { color: #F3F4F5; }
.base02 { color: #F8F9FA; }
.base03 { color: #ABB0B6; }
.base04 { color: #828C99; }
.base05 { color: #5C6773; }
.base06 { color: #242936; }
.base07 { color: #1A1F29; }
.base08 { color: #F07178; }
.base09 { color: #FA8D3E; }
.base0A { color: #F2AE49; }
.base0B { color: #86B300; }
.base0C { color: #4CBF99; }
.base0D { color: #36A3D9; }
.base0E { color: #A37ACC; }
.base0F { color: #E6BA7E; }

.base00-background { background-color: #FAFAFA; }
.base01-background { background-color: #F3F4F5; }
.base02-background { background-color: #F8F9FA; }
.base03-background { background-color: #ABB0B6; }
.base04-background { background-color: #828C99; }
.base05-background { background-color: #5C6773; }
.base06-background { background-color: #242936; }
.base07-background { background-color: #1A1F29; }
.base08-background { background-color: #F07178; }
.base09-background { background-color: #FA8D3E; }
.base0A-background { background-color: #F2AE49; }
.base0B-background { background-color: #86B300; }
.base0C-background { background-color: #4CBF99; }
.base0D-background { background-color: #36A3D9; }
.base0E-background { background-color: #A37ACC; }
.base0F-background { background-color: #E6BA7E; }
