## Base16 Ayu Dark
# Author: Khue Nguyen (https://github.com/Z5483)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0F1419
text-color=#E6E1CF
border-color=#59C2FF

[urgency=low]
background-color=#0F1419
text-color=#FFB454
border-color=#59C2FF

[urgency=high]
background-color=#0F1419
text-color=#F07178
border-color=#59C2FF
