## Base16 Ayu Mirage
# Author: Khue Nguyen <Z5483Y@gmail.com>
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171B24
text-color=#CCCAC2
border-color=#5CCFE6

[urgency=low]
background-color=#171B24
text-color=#FFD173
border-color=#5CCFE6

[urgency=high]
background-color=#171B24
text-color=#F28779
border-color=#5CCFE6
