/* {Ayu Dark} by {Khue Nguyen <Z5483Y@gmail.com>} */

.base00-bg { background-color: #0F1419; }
.base01-bg { background-color: #131721; }
.base02-bg { background-color: #272D38; }
.base03-bg { background-color: #3E4B59; }
.base04-bg { background-color: #BFBDB6; }
.base05-bg { background-color: #E6E1CF; }
.base06-bg { background-color: #E6E1CF; }
.base07-bg { background-color: #F3F4F5; }
.base08-bg { background-color: #F07178; }
.base09-bg { background-color: #FF8F40; }
.base0A-bg { background-color: #FFB454; }
.base0B-bg { background-color: #B8CC52; }
.base0C-bg { background-color: #95E6CB; }
.base0D-bg { background-color: #59C2FF; }
.base0E-bg { background-color: #D2A6FF; }
.base0F-bg { background-color: #E6B673; }

.base00 { color: #0F1419; }
.base01 { color: #131721; }
.base02 { color: #272D38; }
.base03 { color: #3E4B59; }
.base04 { color: #BFBDB6; }
.base05 { color: #E6E1CF; }
.base06 { color: #E6E1CF; }
.base07 { color: #F3F4F5; }
.base08 { color: #F07178; }
.base09 { color: #FF8F40; }
.base0A { color: #FFB454; }
.base0B { color: #B8CC52; }
.base0C { color: #95E6CB; }
.base0D { color: #59C2FF; }
.base0E { color: #D2A6FF; }
.base0F { color: #E6B673; }
