# Base16 Ayu Mirage
# Author: Khue Nguyen <Z5483Y@gmail.com>

[global_config]
  title_transmit_fg_color = "#CCCAC2"
  title_transmit_bg_color = "#171B24"
  title_inactive_fg_color = "#CCCAC2"
  title_inactive_bg_color = "#707A8C"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#171B24"
    foreground_color = "#CCCAC2"
    cursor_color = "#CCCAC2"
    palette = "#171B24:#F28779:#D5FF80:#FFD173:#5CCFE6:#D4BFFF:#95E6CB:#CCCAC2:#707A8C:#FFAD66:#1F2430:#242936:#8A9199:#D9D7CE:#F29E74:#F3F4F5"
