# Base16 Ayu Dark
# Author: Khue Nguyen (https://github.com/Z5483)

[global_config]
  title_transmit_fg_color = "#E6E1CF"
  title_transmit_bg_color = "#0F1419"
  title_inactive_fg_color = "#E6E1CF"
  title_inactive_bg_color = "#3E4B59"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#0F1419"
    foreground_color = "#E6E1CF"
    cursor_color = "#E6E1CF"
    palette = "#0F1419:#F07178:#B8CC52:#FFB454:#59C2FF:#D2A6FF:#95E6CB:#E6E1CF:#3E4B59:#FF8F40:#131721:#272D38:#BFBDB6:#E6E1CF:#E6B673:#F3F4F5"
