## Base16 Ayu Dark
# Author: Khue Nguyen <Z5483Y@gmail.com>
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #0F1419
set $base01 #131721
set $base02 #272D38
set $base03 #3E4B59
set $base04 #BFBDB6
set $base05 #E6E1CF
set $base06 #E6E1CF
set $base07 #F3F4F5
set $base08 #F07178
set $base09 #FF8F40
set $base0A #FFB454
set $base0B #B8CC52
set $base0C #95E6CB
set $base0D #59C2FF
set $base0E #D2A6FF
set $base0F #E6B673
