! Base16 Ayu Mirage
! Author: Khue Nguyen (https://github.com/Z5483)

! base00: #171B24
! base01: #1F2430
! base02: #242936
! base03: #707A8C
! base04: #8A9199
! base05: #CCCAC2
! base06: #D9D7CE
! base07: #F3F4F5
! base08: #F28779
! base09: #FFAD66
! base0A: #FFD173
! base0B: #D5FF80
! base0C: #95E6CB
! base0D: #5CCFE6
! base0E: #D4BFFF
! base0F: #F29E74

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1F2430, #1F2430, #171B24

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1F2430, #CCCAC2, #1F2430, #1F2430, #F3F4F5
rofi.color-active:  #1F2430, #5CCFE6, #1F2430, #1F2430, #5CCFE6
rofi.color-urgent:  #1F2430, #F28779, #1F2430, #1F2430, #F28779

! Set the desired separator style
rofi.separator-style: solid
