! Base16 Ayu Dark
! Author: Khue Nguyen <Z5483Y@gmail.com>

! base00: #0F1419
! base01: #131721
! base02: #272D38
! base03: #3E4B59
! base04: #BFBDB6
! base05: #E6E1CF
! base06: #E6E1CF
! base07: #F3F4F5
! base08: #F07178
! base09: #FF8F40
! base0A: #FFB454
! base0B: #B8CC52
! base0C: #95E6CB
! base0D: #59C2FF
! base0E: #D2A6FF
! base0F: #E6B673

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #131721, #131721, #0F1419

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #131721, #E6E1CF, #131721, #131721, #F3F4F5
rofi.color-active:  #131721, #59C2FF, #131721, #131721, #59C2FF
rofi.color-urgent:  #131721, #F07178, #131721, #131721, #F07178

! Set the desired separator style
rofi.separator-style: solid
