! Base16 Ayu Light
! Author: Khue Nguyen (https://github.com/Z5483)

! base00: #FAFAFA
! base01: #F3F4F5
! base02: #F8F9FA
! base03: #ABB0B6
! base04: #828C99
! base05: #5C6773
! base06: #242936
! base07: #1A1F29
! base08: #F07178
! base09: #FA8D3E
! base0A: #F2AE49
! base0B: #86B300
! base0C: #4CBF99
! base0D: #36A3D9
! base0E: #A37ACC
! base0F: #E6BA7E

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #F3F4F5, #F3F4F5, #FAFAFA

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #F3F4F5, #5C6773, #F3F4F5, #F3F4F5, #1A1F29
rofi.color-active:  #F3F4F5, #36A3D9, #F3F4F5, #F3F4F5, #36A3D9
rofi.color-urgent:  #F3F4F5, #F07178, #F3F4F5, #F3F4F5, #F07178

! Set the desired separator style
rofi.separator-style: solid
