[colors]
# Base16 Ayu Dark
# Author: Khue Nguyen <Z5483Y@gmail.com>

foreground          = #E6E1CF
foreground_bold     = #E6E1CF
cursor              = #E6E1CF
cursor_foreground   = #0F1419
background          = #0F1419

# 16 color space

# Black, Gray, Silver, White
color0  = #0F1419
color8  = #3E4B59
color7  = #E6E1CF
color15 = #F3F4F5

# Red
color1  = #F07178
color9  = #F07178

# Green
color2  = #B8CC52
color10 = #B8CC52

# Yellow
color3  = #FFB454
color11 = #FFB454

# Blue
color4  = #59C2FF
color12 = #59C2FF

# Purple
color5  = #D2A6FF
color13 = #D2A6FF

# Teal
color6  = #95E6CB
color14 = #95E6CB

# Extra colors
color16 = #FF8F40
color17 = #E6B673
color18 = #131721
color19 = #272D38
color20 = #BFBDB6
color21 = #E6E1CF
