[colors]
# Base16 Ayu Light
# Author: Khue Nguyen (https://github.com/Z5483)

foreground          = #5C6773
foreground_bold     = #5C6773
cursor              = #5C6773
cursor_foreground   = #FAFAFA
background          = #FAFAFA

# 16 color space

# Black, Gray, Silver, White
color0  = #FAFAFA
color8  = #ABB0B6
color7  = #5C6773
color15 = #1A1F29

# Red
color1  = #F07178
color9  = #F07178

# Green
color2  = #86B300
color10 = #86B300

# Yellow
color3  = #F2AE49
color11 = #F2AE49

# Blue
color4  = #36A3D9
color12 = #36A3D9

# Purple
color5  = #A37ACC
color13 = #A37ACC

# Teal
color6  = #4CBF99
color14 = #4CBF99

# Extra colors
color16 = #FA8D3E
color17 = #E6BA7E
color18 = #F3F4F5
color19 = #F8F9FA
color20 = #828C99
color21 = #242936
