.base00 { color: #0F1419; }
.base01 { color: #131721; }
.base02 { color: #272D38; }
.base03 { color: #3E4B59; }
.base04 { color: #BFBDB6; }
.base05 { color: #E6E1CF; }
.base06 { color: #E6E1CF; }
.base07 { color: #F3F4F5; }
.base08 { color: #F07178; }
.base09 { color: #FF8F40; }
.base0A { color: #FFB454; }
.base0B { color: #B8CC52; }
.base0C { color: #95E6CB; }
.base0D { color: #59C2FF; }
.base0E { color: #D2A6FF; }
.base0F { color: #E6B673; }

.base00-background { background-color: #0F1419; }
.base01-background { background-color: #131721; }
.base02-background { background-color: #272D38; }
.base03-background { background-color: #3E4B59; }
.base04-background { background-color: #BFBDB6; }
.base05-background { background-color: #E6E1CF; }
.base06-background { background-color: #E6E1CF; }
.base07-background { background-color: #F3F4F5; }
.base08-background { background-color: #F07178; }
.base09-background { background-color: #FF8F40; }
.base0A-background { background-color: #FFB454; }
.base0B-background { background-color: #B8CC52; }
.base0C-background { background-color: #95E6CB; }
.base0D-background { background-color: #59C2FF; }
.base0E-background { background-color: #D2A6FF; }
.base0F-background { background-color: #E6B673; }
