/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Ayu Dark scheme by Khue Nguyen (https://github.com/Z5483) */

window {
	background-color: #0F1419;
	color: #E6E1CF;
}

#entry:nth-child(odd) {
	background-color: #0F1419;
}

#entry:nth-child(even) {
	background-color: #131721;
}

#entry:selected {
	background-color: #272D38;
}

#input {
	background-color: #131721;
	color: #BFBDB6;
	border-color: #272D38; 
}

#input:focus {
	border-color: #FFB454; 
}
