/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Ayu Light scheme by Khue Nguyen (https://github.com/Z5483) */

window {
	background-color: #FAFAFA;
	color: #5C6773;
}

#entry:nth-child(odd) {
	background-color: #FAFAFA;
}

#entry:nth-child(even) {
	background-color: #F3F4F5;
}

#entry:selected {
	background-color: #F8F9FA;
}

#input {
	background-color: #F3F4F5;
	color: #828C99;
	border-color: #F8F9FA; 
}

#input:focus {
	border-color: #F2AE49; 
}
