/* {Ayu Mirage} by {Khue Nguyen <Z5483Y@gmail.com>} */

.base00-bg { background-color: #171B24; }
.base01-bg { background-color: #1F2430; }
.base02-bg { background-color: #242936; }
.base03-bg { background-color: #707A8C; }
.base04-bg { background-color: #8A9199; }
.base05-bg { background-color: #CCCAC2; }
.base06-bg { background-color: #D9D7CE; }
.base07-bg { background-color: #F3F4F5; }
.base08-bg { background-color: #F28779; }
.base09-bg { background-color: #FFAD66; }
.base0A-bg { background-color: #FFD173; }
.base0B-bg { background-color: #D5FF80; }
.base0C-bg { background-color: #95E6CB; }
.base0D-bg { background-color: #5CCFE6; }
.base0E-bg { background-color: #D4BFFF; }
.base0F-bg { background-color: #F29E74; }

.base00 { color: #171B24; }
.base01 { color: #1F2430; }
.base02 { color: #242936; }
.base03 { color: #707A8C; }
.base04 { color: #8A9199; }
.base05 { color: #CCCAC2; }
.base06 { color: #D9D7CE; }
.base07 { color: #F3F4F5; }
.base08 { color: #F28779; }
.base09 { color: #FFAD66; }
.base0A { color: #FFD173; }
.base0B { color: #D5FF80; }
.base0C { color: #95E6CB; }
.base0D { color: #5CCFE6; }
.base0E { color: #D4BFFF; }
.base0F { color: #F29E74; }
