/* {Ayu Light} by {Khue Nguyen <Z5483Y@gmail.com>} */

.base00-bg { background-color: #FAFAFA; }
.base01-bg { background-color: #F3F4F5; }
.base02-bg { background-color: #F8F9FA; }
.base03-bg { background-color: #ABB0B6; }
.base04-bg { background-color: #828C99; }
.base05-bg { background-color: #5C6773; }
.base06-bg { background-color: #242936; }
.base07-bg { background-color: #1A1F29; }
.base08-bg { background-color: #F07178; }
.base09-bg { background-color: #FA8D3E; }
.base0A-bg { background-color: #F2AE49; }
.base0B-bg { background-color: #86B300; }
.base0C-bg { background-color: #4CBF99; }
.base0D-bg { background-color: #36A3D9; }
.base0E-bg { background-color: #A37ACC; }
.base0F-bg { background-color: #E6BA7E; }

.base00 { color: #FAFAFA; }
.base01 { color: #F3F4F5; }
.base02 { color: #F8F9FA; }
.base03 { color: #ABB0B6; }
.base04 { color: #828C99; }
.base05 { color: #5C6773; }
.base06 { color: #242936; }
.base07 { color: #1A1F29; }
.base08 { color: #F07178; }
.base09 { color: #FA8D3E; }
.base0A { color: #F2AE49; }
.base0B { color: #86B300; }
.base0C { color: #4CBF99; }
.base0D { color: #36A3D9; }
.base0E { color: #A37ACC; }
.base0F { color: #E6BA7E; }
