# Base16 Ayu Mirage
# Author: Khue Nguyen <Z5483Y@gmail.com>

set default-bg                  "#171B24"
set default-fg                  "#1F2430"

set statusbar-fg                "#8A9199"
set statusbar-bg                "#242936"

set inputbar-bg                 "#171B24"
set inputbar-fg                 "#F3F4F5"

set notification-bg             "#171B24"
set notification-fg             "#F3F4F5"

set notification-error-bg       "#171B24"
set notification-error-fg       "#F28779"

set notification-warning-bg     "#171B24"
set notification-warning-fg     "#F28779"

set highlight-color             "#FFD173"
set highlight-active-color      "#5CCFE6"

set completion-bg               "#1F2430"
set completion-fg               "#5CCFE6"

set completion-highlight-fg     "#F3F4F5"
set completion-highlight-bg     "#5CCFE6"

set recolor-lightcolor          "#171B24"
set recolor-darkcolor           "#D9D7CE"
