# Base16 Ayu Light
# Author: Khue Nguyen (https://github.com/Z5483)

set default-bg                  "#FAFAFA"
set default-fg                  "#F3F4F5"

set statusbar-fg                "#828C99"
set statusbar-bg                "#F8F9FA"

set inputbar-bg                 "#FAFAFA"
set inputbar-fg                 "#1A1F29"

set notification-bg             "#FAFAFA"
set notification-fg             "#1A1F29"

set notification-error-bg       "#FAFAFA"
set notification-error-fg       "#F07178"

set notification-warning-bg     "#FAFAFA"
set notification-warning-fg     "#F07178"

set highlight-color             "#F2AE49"
set highlight-active-color      "#36A3D9"

set completion-bg               "#F3F4F5"
set completion-fg               "#36A3D9"

set completion-highlight-fg     "#1A1F29"
set completion-highlight-bg     "#36A3D9"

set recolor-lightcolor          "#FAFAFA"
set recolor-darkcolor           "#242936"
