# Base16 Ayu Light
# Author: Khue Nguyen <Z5483Y@gmail.com>

[global_config]
  title_transmit_fg_color = "#5C6773"
  title_transmit_bg_color = "#FAFAFA"
  title_inactive_fg_color = "#5C6773"
  title_inactive_bg_color = "#ABB0B6"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#FAFAFA"
    foreground_color = "#5C6773"
    cursor_color = "#5C6773"
    palette = "#FAFAFA:#F07178:#86B300:#F2AE49:#36A3D9:#A37ACC:#4CBF99:#5C6773:#ABB0B6:#FA8D3E:#F3F4F5:#F8F9FA:#828C99:#242936:#E6BA7E:#1A1F29"
